- attributes("title") = "Scalatra: a tiny, Sinatra-like web framework for Scala"
- attributes("headline") = "Welcome to Scalatra"

h1 Hello, world!
|Say 
a(href="hello-scalate") hello to Scalate
|.

h1 Resources

ul
  li
    a(href="books") books
